body {
  background-color: #F19D3;
}

* {
  font-family: "Crimson Text", Times, serif;
}

h1 {
  color: #355C7D;
  border-color: black;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  font-size: 25px;
}

p {
  color: white;
  font-size: 15px;
}



